In [1]:
import pandas as pd

In [3]:
# Sample Data

data = {
    'CustomerID' :['C001','C002','C003','C004','C005','C006','C007','C008'],
    'Education_Level' : ['High School','Bachelors','Masters','Phd','Bachelors','High School','Masters','Phd'],
    'Product_Quality' : ['Low','Medium','High','Low','Medium','High','Low','Medium'],
    'Satisfaction_Level' : ['Poor','Average','Good','Excellent','Good','Average','Poor','Excellent']
}

df = pd.DataFrame(data)

In [4]:
df

  CustomerID Education_Level Product_Quality Satisfaction_Level
0       C001     High School             Low               Poor
1       C002       Bachelors          Medium            Average
2       C003         Masters            High               Good
3       C004             Phd             Low          Excellent
4       C005       Bachelors          Medium               Good
5       C006     High School            High            Average
6       C007         Masters             Low               Poor
7       C008             Phd          Medium          Excellent

In [5]:
# Define the order for ordinal Feature 

education_order = ['High School','Bachelors','Masters','Phd']
product_quality_order = ['Low','Medium','High']
satisfaction_order = ['Poor','Average','Good','Excellent']

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
encoder = OrdinalEncoder(categories = [education_order,product_quality_order,satisfaction_order])

In [8]:
# Apply encoding(skip CustomerID as it is identifier)

df[['Education_Level','Product_Quality','Satisfaction_Level']] = encoder.fit_transform( df[['Education_Level','Product_Quality','Satisfaction_Level']])

In [9]:
df

  CustomerID  Education_Level  Product_Quality  Satisfaction_Level
0       C001              0.0              0.0                 0.0
1       C002              1.0              1.0                 1.0
2       C003              2.0              2.0                 2.0
3       C004              3.0              0.0                 3.0
4       C005              1.0              1.0                 2.0
5       C006              0.0              2.0                 1.0
6       C007              2.0              0.0                 0.0
7       C008              3.0              1.0                 3.0